body{
    background: url('./images/Coffee-apple-iphone-laptop.jpg') no-repeat center center fixed;
    /*-webkit-background: cover;*/
    /*-moz-background: cover;*/
    /*-o-background: cover;*/
    -moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
    min-width: 100vw;
    min-height: 100vh;
}